<!--Navbar-->
<body class="relative flex flex-wrap">
  <header class="container bg-[#735d78] min-w-full flex text-[#2C3333]">
    <nav
      class="md:max-w-6xl xl:w-3/5 lg-w-3/4 md:w-11/12 sm:mx-auto md:flex-row md:justify-between py-6 w-full flex flex-col items-center"
    >
      <a href="/" class="flex w-1/5 flex-none sm:mb-5"><i class="fa-solid fa-children text-8xl text-[#d1b3c4]"></i>
        <sub class="text-[#d1b3c4] text-5xl mb-4">Playdate Chronicles</sub></a>
        <ul class="flex-initial flex md:gap-4 md:flex-nowrap md:flex-row md:2-2/4 uppercase md:justify-end self-center tracking-wider flex-wrap flex-col text-center">
          <li class="p-1.5 px-3 text-white"><a href="/">Home</a></li>
          <li class="p-1.5 px-3 text-white"><a href="/profile">Profile</a></li>
          <li class="p-1.5 px-3 rounded-md bg-[#22A39F] text-white"><a href="newPlaydate">New Playdate</a></li>
          <li class="p-1.5 px-3 rounded-md bg-[#CE7777] text-white"><a href="logout">Logout</a></li>
        </ul>
    </nav>
  </header>

</body>
