<div>
    <body class="bg-[#735d78]">
      <div class="flex mt-10 max-w-4xl mx-auto gap-6">
        <div class="w-1/4">
          <!-- Left Side -->
          <div class="bg-[#ebdee5] shadow-md rounded-md p-4 mb-5">
            <h2 class="text-[#333] text-center text-3xl font-semibold mb-3">
              Navigation
            </h2>
            <a class="flex gap-3 py-3 text-xl" href="/">Home</a>
            <a class="flex gap-3 py-3 text-xl" href="profile">Profile</a>
            <a class="flex gap-3 py-3 text-xl" href="friends">Friends</a>
            <a class="flex gap-3 py-3 text-xl" href="logout">Logout</a>
          </div>
        </div>