<%- include("partials/head.ejs") %>

<!-- <%- include("partials/navbar.ejs") %> -->

<!--Home-->
<div class="container-fluid position-absolute top-50 start-50 translate-middle text-center">
  <div class="home-msg">
    <div class="mb-3 playdate-home-icon">
      <i class="fa-solid fa-children"></i>
      <sub class="fw-bold">Playdate Chronicles</sub>
    </div>

    <p>Record the playdates here</p>

    <div class="register-login mt-5">
      <a class="btn btn-lg btn-light register__btn" type="button" href="/register">Register</a>
      <a class="btn btn-lg btn-dark purple__btn ms-5" type="button" href="/login">Login</a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>