<%- include("partials/head.ejs") %>

<!--Home-->
<div class="min-h-screen py-40 bg-[#748DA6]">
  <div class="container mx-auto">
    <div class="flex w-8/12 bg-[#D3CEDF] rounded-xl mx-auto shadow-lg overflow-hidden">
      <div class="w-1/2">
        <img src="img/kidsplaying.jpg" alt="">
      </div>
      <div class="w-1/2 py-16 px-12">
        <h2 class="text-3xl mb-4">Playdate Chronicles</h2>
        <div class="mt-8">
          <a class="" href="/register">Register</a>
          <a href="/login">Login</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>