<%- include("partials/head.ejs") %>

<div class="min-h-screen py-40 bg-[#748DA6]">
  <div
    class="shadow-lg bg-[#D3CEDF] w-3/6 m-auto p-4 after:block after:pb-[50%] items-center justify-center flex max-w-xl"
  >
    <div
      class="col-6 mt-5 flex flex-row flex-wrap justify-center text-center p-4"
    >
      <i class="fa-solid fa-children text-5xl"></i>
      <sub class="text-4xl mb-16">Playdate Chronicles</sub>
      <form
        action="/auth/login"
        method="POST"
        class="w-full text-center m-auto mb-8"
      >
        <div class="mb-5">
          <input
            type="email"
            class="form-control bg-transparent block w-full mx-auto text-center border-b border-[#333] cursor-pointer"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
          <label
            for="exampleInputEmail1"
            class="form-label block py-1.5 w-full text-left"
            >Email address</label
          >
        </div>
        <div class="mb-5">
          <input
            type="password"
            class="form-control bg-transparent block w-full mx-auto text-center border-b border-[#333] cursor-pointer"
            id="exampleInputPassword1"
            name="password"
          />
          <label
            for="exampleInputPassword1"
            class="form-label block py-1.5 w-full text-left"
            >Password</label
          >
        </div>
        <button
          type="submit"
          class="px-4 p-3 uppercase border-2 border-[#333] rounded-md tracking-wider bg-[#748DA6] text-white"
        >
          Log In
        </button>
      </form>
      <a
        href="/register"
        class="p-3 px-4 rounded-md bg-white self-center tracking-wider mr-2"
        >Sign up</a
      >
      <a href="/" class="p-3 px-4 bg-white self-center rounded-md ml-2"
        ><i class="fa-solid fa-house"></i
      ></a>
    </div>
  </div>
  <!-- <form action="/auth/login" method="post">
        <h3 class="mb-4">Login</h3>
        <div class="mb-3">
            <label for="login-emai" class="form-label">Email address</label>
            <input type="email" name="username" class="form-control" id="login-email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="login-password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="login-password" required minlength="6">
        </div>
        <button type="submit" class="btn purple__btn">Submit</button>
    </form> -->
</div>

<%- include("partials/footer.ejs") %>
