<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container min-w-full">
    <div class="mt-5 w-full justify-center flex">
        <div class="mt-5 max-w-md">
            <div class="m-auto">
                <h2 class="text-2xl text-center uppercase text-[#16350] tracking-wider font-semibold pb-3">Add Playdate</h2>
                <form action="/post/createPost" enctype="multipart/form-data" method="POST" class="w-full flex flex-col text-center m-auto mb-8 bg-gray-200 uppercase tracking-wider">
                    <div class="flex flex-row justify-around bg-gray-200 border-b-4 border-[#E91F1EF] w-full">
                        <label for="playdate" class="form-label p-2 border flex-grow basis-0 border-white">Playdate</label>
                        <label for="friends" class="form-label p-2 border shrink basis-24 border-white">Friends</label>
                        <label for="grownups" class="form-label p-2 border shrink basis-24 border-white">Grownups</label>
                        <label for="location" class="form-label p-2 border shrink basis-24 border-white">Location</label>

                        <div class="flex flex-row justify-around">
                            <input type="text" class="bg-transparent form-control text-center min-w-0 flex-grow basis-0 border-white p-2" id="playdate" name="playdate">
                            <input type="text" class="bg-transparent form-control text-center border min-0 shrink basis-24 border-white p-2" id="friends" name="friends">
                            <input type="text" class="bg-transparent form-control text-center border min-0 shrink basis-24 border-white p-2" id="grownups" name="grownups">
                            <input type="text" class="bg-transparent form-control text-center border min-0 shrink basis-24 border-white p-2" id="location" name="location">
                        </div>
                    </div>

                    <div class="text-left m-auto mb-8 uppercase tracking-wider">
                        <label for="title" class="form-label p-2 flex-grow basis-0 border-white">PlayDate Name:</label>
                        <input type="text" class="bg-transparent form-control block w-full mx-auto text-center border-[#60DBCC] border-2 p-2 mt-2" id="title" name="title">
                    </div>
                    <div class="text-left m-auto mb-8 uppercase tracking-wider">
                        <label for="caption" class="form-label p-2 flex-grow basis-0 border-white">Caption:</label>
                        <textarea class="bg-transparent form-control block w-full mx-auto text-center border-2 mt-2 p-2" name="caption" id="caption"></textarea>
                    </div>
                    <div class="text-left m-auto mb-8 uppercase tracking-wider">
                        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                            <p>Drag one or more files to this <i>drop zone</i>.</p>
                        </div>

                        <label for="imgUpload" class="form-label p-2 flex-grow basis-0 border-white">Image:</label>
                    <input type="file" class="bg-transparent form-control block w-full mx-auto text-center border-[#60DBCC] border-2 p-2 mt-2" name="file" id="imgUpload">
                    </div>
                  <div class="text-center m-auto mb-8">
                    <button type="submit" class="px-4 p-3 uppercase border-2 border-[#163530] rounded-md tracking-wider bg-[#163530] text-white" value="Upload">Submit</button>
                  </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>