<%- include("partials/head.ejs") %>

<div class="container min-w-full h-screen uppercase flex">
    <form action="/auth/register" method="post" class="">
        <h3 class="mb-4">Register</h3>
        <div class="mb-3">
            <label for="register-emai" class="form-label">Email address</label>
            <input type="email" name="username" class="form-control" id="register-email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">Emails will NOT be shared.</div>
        </div>
        <div class="mb-3">
            <label for="register-password" class="form-label">Passwords</label>
            <input type="password" name="password" class="form-control" id="register-password" required minlength="6">
            <div id="emailHelp" class="form-text">Password must be at least 6 characters long</div>
        </div>
        <button type="submit" class="btn purple__btn">Submit</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>