body {
    background-color: #eeeeee;
}

a {
    color: #fff;
}

textarea {
    resize: none;
}

/* Classes */
.page_container {
    padding: 2% 15%;
}

/* Navbar */
.navbar__style {
    background-color: #46244c;
}

/* Home Page */
.playdate-home-icon {
    color: #46244c;
    font-size: 3rem;
}

.register btn {
    border: 1px solid green;
    color: green;
}

.purple_btn {
    background-color: aqua;
    color: #fff;
}

.purple_btn:hover {
    background-color: green;
    color: #fff;
}

.register__btn:hover {
    border: 1px solid yellow;
}

/* PlayDate Page */
.playdate_content {
    border: 5px solid #eee;
    border-radius: 10px;
    color: #fff;
    -webkit-text-stroke: 0.5px #333;
}

.playdate__text {
    height: 220px;
    font-weight: 600;
}

/* Media Queries */
@media screen and (max-width: 991px) {
    .page_container {
        padding: 2% 7%;
    }
}

@media screen and (min-width: 992px) {
    .navbar_container {
        padding-left: 15%;
        padding-right: 15%;
    }
}